.banner{
    width: 600px;
    height: 500px;
    background-color: yellow;
    /*padding-left: 500px;*/
}
.banner_slide{
    float: left;
    width: 600px;
    height: 500px;
}
.slide_content {
    float: left;
    width: 225px;
    height: 225px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: white;
    overflow: hidden;
}

.button_left{
    font-size:40px; float: left; opacity: 0.6;
    margin-left: 50px;
    margin-top: 80px;
}
.button_right{
    font-size:40px; float: right; opacity: 0.6;
    margin-right: 46px;
    margin-top: 80px;
}
