.banner{
    width: 1000px;
    height: 500px;
    background-color: yellow;
    /*padding-left: 500px;*/
}
.banner_slide{
    float: left;
    width: 400px;
    height: 500px;
    border: 1px solid #cccccc;
    overflow: hidden;
}
.slide_content {
    float: left;
    width: 1700px;
    height: 200px;
    transition: all 300ms;
}
.slide{
    float: left;
    width: 400px;
    height: 200px;
    border: 1px solid #cccccc;
}
#content1{
    display: block;
}

.button_left{
    font-size:40px; float: left; opacity: 0.6;
    margin-left: 20px;
    margin-top: 80px;
}
.button_right{
    font-size:40px; float: right; opacity: 0.6;
    margin-right: 20px;
    margin-top: 80px;
}
